<html>

<head>
    <script src="../JS file/home.js"></script>
    <link type="text/css" rel="stylesheet" href="../cssfile/home.css">
</head>

<body>
</body>
<h2>
    Fill out the below and click "order now" to order</h2>
<form class="boxtext " id="the form" action="message.html" method="post" onSubmit="return validateTextbox();">

    <div class="row">
        <lable for="name">Name:</lable>
        <input type="text" id="name" name=""> </br>
        </br>
    </div>
    <div class="row">
        <lable for="address">Address:</lable>
        <input type="text" id="address" name=""> </br>
        </br>
    </div>
    <div class="row">
        <lable for="phone">Phone:</lable>
        <input type="te1" id="phone" name=""> </br>
        </br>
    </div>
    <div class="row">
        <lable for="email">Email:</lable>
        <input type="email" id="email" name="">
    </div>
    </br>

    <input type="submit" value="Submit">

</form>
</body>

</html>